* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  height: 11vh;
  border-bottom: 1.5px solid #2c5f63;
  padding: 27px;
  background-color: aliceblue;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c5f63;
}

.nav-links a {
  font-weight: 750;
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 27px 24px; */
  background-color: aliceblue;
}

.hero-text {
  width: 45%;
  margin-left: 1.2rem;
}

.hero-text h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  margin-top: -3rem;
}

.hero-text p {
  color: #555;
  margin-bottom: 32px;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.signup {
  font-weight: 600;
  font-size: 1.2rem;
  background: #2c5f63;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
  height: 3rem;
  width: 8rem;
}

.login {
  font-weight: 600;
  font-size: 1.2rem;
  height: 3rem;
  width: 8rem;
  background: white;
  color: #2c5f63;
  border: 2px solid #2c5f63;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
}

.hero-image{
  width: 55%;
}

.hero-image img {
  height: calc(100vh - 11.5vh);
  width: 100%;
}
