* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 10vh);
    width: 100%;
}

.login-form {
    max-width: 520px;
    width: 40%;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 1.3rem;
}

.login-form h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 0.5rem;
  font-size: clamp(1.8rem, 4vw, 3rem);
    word-wrap: break-word;
}

p{
    font-size: large;
}

input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #717171;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #2ecc71;
    box-shadow: 0 0 0 3px rgba(46, 204, 113, 0.1);
}

.final-login {
    width: 100%;
    padding: 12px;
    background-color: #4824ea;
    color: white;
    border: 2px solid;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.final-login:hover {
  background: #3c1ec2;
  box-shadow: -6px 6px 0 rgba(0, 0, 0, 0.4);
  transform: translate(1px, -1px);
  transition: box-shadow 0.15s ease;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        justify-content: center;
        padding: 10%;
    }
    .login-img {
        display: none;
    }
    .login-form {
        max-width: 100%;
    }
}